<h1>Dashboard#index</h1>

<div class="row">
  <div class="col-md-3">
    <%= render  partial: 'dashboard/sidebar', locals: {topics: @following_topics, user:current_user, following_users: @following_users, follower_users: @follower_users}  %>
  </div>
  <div class="col-md-8">
    <%= render  partial: 'activities/form', locals: {activity: Activity.new}  %>
    <div id="dashboard-list">
      <%= render  @activities.pluck('object')  %>
    </div>
  </div>
</div>

<script>
    window.dashboard_consumer = consumer.subscriptions.create({channel: "DashboardChannel", current_user: <%= current_user.id %>}, {
        received(data) {
            console.log(data)
            if(data.cableReady) CableReady.perform(data.operations)
            // Called when there's incoming data on the websocket for this channel
        }
    });
</script>

