<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3">
    <%= render :partial => 'sidebar', locals: {  } %>
  </div>
  <div class="col-md-9">
    <%= render :partial => 'activities/form', locals: {activity: @activity, verb: 'discussion'} %>
  </div>
</div>
