<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-md-3">
  <%= render :partial => 'sidebar', locals: { topic: @topic } %>
</div>
<div class="col-md-8">
  <%= render 'form', topic: @topic %>
</div>
</div>