<div class="row">
  <div class="col-md-3">
    <%= render :partial => 'sidebar', locals: { topic: @topic } %>
  </div>
  <div class="col-md-8">
    <%= render  partial: 'event/form', locals: {activity: @new_activity, topic: @topic.name, verb: 'event'}  %>
    <div id="dashboard-list">
      <% @events.each do |event| %>
        <%= render :partial => 'event', locals: { event: event, topic: @topic } %>
      <% end %>
    </div>
  </div>
</div>

<script>
    window.dashboard_consumer = consumer.subscriptions.create({channel: "DashboardChannel", current_user: <%= current_user.id %>}, {
        received(data) {
            console.log(data)
            if(data.cableReady) CableReady.perform(data.operations)
            // Called when there's incoming data on the websocket for this channel
        }
    });
</script>
