<div class="row">
  <div class="col-md-3">
    <%= render :partial => 'sidebar', locals: { topic: @topic } %>
  </div>
  <div class="col-md-8">
    <div class="book-bg">
      <div class="row">

        <div class="col-sm-12">
          <div class="card card-26">
            <div class="row">
              <div class="col-lg-10 col-md-12">
                <h2>Books</h2>
                <%= render  partial: 'activities/form', locals: {activity: @new_activity, topic: @topic.name}  %>
              </div>
            </div>
            <div class="dashboard-list container">
              <% @wikis.each do |wiki| %>
                <%= render :partial => 'wiki', locals: { wiki: wiki, topic: @topic } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    <% if current_user.present? %>
    window.dashboard_consumer = consumer.subscriptions.create({channel: "DashboardChannel", current_user: <%= current_user.id %>}, {
        received(data) {
            console.log(data)
            if(data.cableReady) CableReady.perform(data.operations)
            // Called when there's incoming data on the websocket for this channel
        }
    });
    <% end %>
</script>
