<div class="col">
  <div class="card">
    <div class="card-body">
      <p class="card-text"><%= chapter.heading %></p>
      <%= link_to 'Show', chapter_index_path(id: topic.id, book_id: book.id, chapter_id: chapter.id) %>
      <% chapter.children.each do |page| %>
        <%= render :partial => 'chapter/page', locals: { book: book, topic: topic, chapter: chapter, page: page } %>
      <% end %>
    </div>
  </div>
</div>