<div class="card-body">
  <ul class="list-group">
    <%= render :partial => 'shared/left_arrow', locals: {link_path: events_new_path, link_name: 'New'} %>
    <%= render :partial => 'shared/left_arrow', locals: {link_path: events_path, link_name: 'Index'} %>
  </ul>
</div>