<p id="notice"><%= notice %></p>

<h1>Discussions</h1>
<%= render :partial => 'activities/activity_division', locals: { display_activities: @activities } %>

<br>

<%= link_to 'New Activity', new_activity_path %>
