<div class="col">
  <div class="card">
    <div class="card-body">
      <p class="card-text"><%= page.heading %></p>
      <%= link_to 'Show', page_index_path(id: topic.id, book_id: book.id, chapter_id: chapter.id, page_id: page.id) %>
    </div>
  </div>
</div>